.hero {

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.container-sm {
	padding-bottom: 65px;
	padding-top: 35px;
	letter-spacing: 0px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 44px;
	word-spacing: 1px;
	
}

h2 {
	padding-bottom: 15px;
	font-size: 35px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;

}

h6 {
	font-size: medium;
	letter-spacing: 1px;
	word-spacing: 0px;
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
}

.footer-copyright {
	
	font-size: large;
	justify-content: center;
}



.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}
